.home {
  .info-section {
    padding: 54px;
    width: 35%;
  }
  .content-area {
    height: 100%;
    margin-left: 35%;
    width: 65%;
    background: $color3;
    // padding: 0 0 0 25%;
    .img-container {
      display: inline-block;
      width: 30%;
      position: relative;
      height: 100%;

      .user-img {
        position: absolute;
        top: 56px;
        left: -150px;
        width: 400px;
        height: calc(100% - 112px);
        background: url("../img/sam-montalvo-headshot.jpg") no-repeat center
          center;
        -webkit-background-size: cover;
        -mos-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 0px 20px 80px 6px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 0px 20px 80px 6px rgba(0, 0, 0, 0.34);
        box-shadow: 0px 20px 80px 6px rgba(0, 0, 0, 0.34);
      }
    }
    .profile-section {
      max-width: 500px;
      vertical-align: top;
      display: inline-block;
      padding: 20% 0 0;
      .profile {
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1.7rem 0;
          span {
            color: $color1;
          }
        }
        h5 {
          font-size: 1.1rem;
          margin: 0 0 1rem 0;
        }
        p {
          color: $color5;
          font-weight: 300;
          line-height: 1.4;
          margin: 0 0 2rem 0;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px) - Phones
@media (max-width: 767.99px) {
  .home {
    .menu-icon {
      top: -3px;
      color: white;
      right: 20px;
      .fa {
        color: white;
      }
    }

    .info-section {
      // display: none;
      padding: 10px 20px;
      position: static;
      .logo {
        height: 45px;
        width: 70px;
        font-size: 1rem;
      }
      .info-box {
        display: none;
      }
    }
    .content-area {
      width: 100%;
      margin-left: 0;
      height: 100%;
      overflow: auto;
      .profile-section {
        width: 100%;
        height: 100;
        // float: right;
        align-content: center;
        max-width: none;
        padding: 20% 20px;
      }
      .img-container {
        display: none;
        // padding: 56px 20px 0;
        // .user-img {
        //   position: static;
        //   width: 100%;
        // }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up) - Tablets
@media (min-width: 768px) and (max-width: 991.99px) {
  .home {
    .content-area {
      overflow: auto;
      .profile-section {
        width: 70%;
        float: right;
        padding: 20% 20px 0;
      }
      .img-container {
        padding: 56px 20px 0;
        .user-img {
          position: static;
          width: 100%;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up) - Laptops
@media (min-width: 992px) and (max-width: 1199.99px) {
  .home {
    .content-area {
      .profile-section {
        width: 70%;
        float: right;
        padding: 20% 20px 0;
        max-width: 650px;
      }
      .img-container {
        padding: 56px 20px 0;
        .user-img {
          position: static;
          width: 100%;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up) - Large Screens
@media (min-width: 1200px) {
  .home {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        float: left;
        .user-img {
          // position: static;
          // width: 100%;
        }
      }
      .profile-section {
        width: 70%;
        float: left;
        padding: 20% 60px 0;
        max-width: 800px;
      }
    }
  }
}
