.home {
  .info-section {
    padding: 54px;
    width: 35%;
  }
  .content-area {
    height: 100%;
    margin-left: 35%;
    width: 65%;
    background: $color3;
    // padding: 0 0 0 25%;
    .img-container {
      display: inline-block;
      width: 30%;
      position: relative;
      height: 100%;

      .user-img {
        position: absolute;
        top: 56px;
        left: -150px;
        width: 400px;
        height: calc(100% - 112px);
        background: url("../img/sam-montalvo-headshot.jpg") no-repeat center
          center;
        -webkit-background-size: cover;
        -mos-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 0px 20px 80px 6px rgba(0, 0, 0, 0.34);
        -moz-box-shadow: 0px 20px 80px 6px rgba(0, 0, 0, 0.34);
        box-shadow: 0px 20px 80px 6px rgba(0, 0, 0, 0.34);
      }
    }
    .profile-section {
      max-width: 500px;
      vertical-align: top;
      display: inline-block;
      padding: 20% 0 0;
      .profile {
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1.7rem 0;
          span {
            color: $color1;
          }
        }
        h5 {
          font-size: 1.1rem;
          margin: 0 0 1rem 0;
        }
        p {
          color: $color5;
          font-weight: 300;
          line-height: 1.4;
          margin: 0 0 2rem 0;
        }
      }
    }
  }
}
