.portfolio {
  .info-section {
    width: 20%;
  }
  .content-area {
    height: 100%;
    margin-left: 20%;
    width: 80%;
    overflow: hidden;
    min-width: 300px;
    background: $color3;
    .scroll-section {
      padding: 0;
      .work-section {
        margin-bottom: 56px;
        width: 100%;
        h1 {
          font-weight: 700;
          font-size: 1.8rem;
          margin-bottom: 56px;
        }
        .project-section {
          display: grid;
          grid-template-columns: 1fr 1fr;
          // max-width: 1000px;

          .project-box {
            position: relative;
            padding: 30px;
            cursor: pointer;
            transition: $btnTransition;
            height: 400px;

            h5 {
              font-weight: 500;
              font-size: 1.4rem;
              text-transform: uppercase;
              margin-bottom: 1.4rem;
            }
            p {
              font-weight: 300;
              font-size: 1rem;
              margin-bottom: 1rem;
            }
            &:hover {
              -webkit-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.12);
              -moz-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.12);
              box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.12);
            }
            .grey-bg {
              background: #efefef;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              opacity: 0;
              transition: all 0.3s ease-in-out;
              overflow: hidden;
              &:hover {
                opacity: 0.9;
                .project-info {
                  .project-details {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                  }
                  .project-title {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                  }
                }
              }
              .project-info {
                position: absolute;
                bottom: 0;
                padding: 56px;
                width: 100%;
                .project-details {
                  position: relative;
                  font-size: 1.1rem;
                  text-transform: capitalize;
                  margin: 0 0 1rem 0;
                  transform: translate3d(-200px, 0, 0);
                  transition: transform 0.5s ease-in-out;
                  opacity: 0;
                }
                .project-title {
                  font-size: 1.8rem;
                  text-transform: uppercase;
                  font-weight: 700;
                  transform: translate3d(-200px, 0, 0);
                  transition: transform 0.4s ease-in-out 0.1s;
                  opacity: 0;
                }
                .fa-long-arrow-alt-right {
                  position: absolute;
                  bottom: 56px;
                  right: 56px;
                  font-size: 3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Mobiles
@media (max-width: 767.99px) {
  .portfolio {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .menu-icon {
      top: -3px;
      color: white;
      right: 20px;
      .fa {
        color: white;
      }
    }

    .info-section {
      // display: none;
      padding: 10px 20px;
      position: static;
      .logo {
        height: 45px;
        width: 70px;
        font-size: 1rem;
      }
      .info-box {
        display: none;
      }
    }
    .content-area {
      margin-left: 0;
      height: 100%;
      overflow: auto;
      left: 0;
      width: 100%;
      .scroll-section {
        .work-section {
          width: 100%;
          float: left;
          padding: 20px 20px 0;
          .project-section {
            grid-template-columns: 1fr;
            padding: 0 15px;
          }
        }
      }
    }
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 991.99px) {
  .portfolio {
    .content-area {
      overflow: auto;
      margin-left: 284px;
      height: 100%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .scroll-section {
        .work-section {
          float: right;
          padding: 56px 12% 0 20px;
          .project-section {
            grid-template-columns: 1fr;
            margin-right: 90px;
          }
        }
      }
    }
  }
}

// Laptops
@media (min-width: 992px) and (max-width: 1199.99px) {
  .portfolio {
    .info-section {
      .icon-section {
        a {
          font-size: 2rem;
        }
      }
    }
    .content-area {
      overflow: auto;
      margin-left: 284px;
      margin-bottom: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .scroll-section {
        .work-section {
          float: left;
          padding: 56px 20% 0 20px;
        }
      }
    }
  }
}

// Large Screens
@media (min-width: 1200px) {
  .portfolio {
    .content-area {
      margin-left: 284px;
      .scroll-section {
        .work-section {
          float: left;
          padding: 56px 15% 0 56px;
        }
      }
    }
  }
}

//Very Large Screens
@media (min-width: 1500px) {
  .portfolio {
    .content-area {
      .scroll-section {
        .work-section {
          float: left;
          padding: 56px 10% 0 56px;
        }
      }
    }
  }
}
